* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
}

body {
  background: url('/static/Images/login_img.avif') no-repeat center center fixed;
  background-size: cover;
  font-family: "Inter", sans-serif;
  color: #fff;
}

#main {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8); 
  width: 350px;
  height: 610px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

#main:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

form {
  width: 100%;
  height: auto;
  font-size: large;
}

form > div {
  margin-top: 20px;
}

.form-label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.form-control, .form-select {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #222;
  color: #fff;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus, .form-select:focus {
  border-color: #007bff;
  outline: none;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.form-check-label {
  font-size: 0.9em;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.icons a {
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s ease-in-out;
}

.icons a:hover {
  color: #007bff;
}


.register-link {
  font-size: 16px;
  color: #f0f0f0; 
  text-align: center;
  margin-top: 20px; 
}

.register-btn {
  font-size: 18px; 
  color: #ff6f61; 
  text-decoration: none; 
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 5px 10px; 
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s; 
}

.register-btn:hover {
  color: #fff; 
  background-color: #ff6f61; 
}


.register-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px;
  background-color: #ff6f61;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.register-btn:hover::after {
  transform: scaleX(1);
}


.icons a {
  text-decoration: none;
  color: white; 
  font-size: 2rem; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.icons a:hover {
  color: #f0f0f0; 
  transform: scale(1.2);
}

.icons i {
  margin: 0 10px; 
}
