/* search_campaigns.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#campaigns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    color: #333;
}

.card-content p {
    margin: 0 0 10px 0;
    color: #666;
}

.ad-requests-container {
    margin-top: 20px;
}

.ad-request {
    border-top: 1px solid #eee;
    padding: 10px 0;
}

.ad-request p {
    margin: 0;
    font-size: 0.9em;
}

.ad-request label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.ad-request input[type="radio"] {
    margin-right: 10px;
}

.send-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.send-btn:hover {
    background-color: #218838;
}

.back-button-container {
    margin-bottom: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
}


