{% extends 'base.html' %}

{% block title %}
Influencer Signup
{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/influencer_login.css">
{% endblock %}

{% block content %}
<div id="main">
    <div class="main-1">
        <div class="img">
            <img src="/static/Images/Influencer.png" alt="">SIGN UP
        </div>
        <form action="{{ url_for('influencer_login') }}" method="POST" class="form">
            <div>
                <div class="custom-mb">
                    <label for="name" class="form-label"></label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="custom-mb">
                    <label for="username" class="form-label"></label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="custom-mb">
                    <label for="role" class="form-label"></label>
                    <input type="text" value="influencer" name="role" class="form-control influencer" id="role" placeholder="Role" readonly>
                </div>
                <div class="row row-1">
                    <div class="col">
                        <input name="age" type="number" class="form-control" placeholder="Age" aria-label="age">
                    </div>
                    <div class="col">
                        <input name="category" type="text" class="form-control" placeholder="Category" aria-label="Category">
                    </div>
                </div>
                <div class="row row-2">
                    <div class="col">
                        <input name="niche" type="text" class="form-control" placeholder="Niche" aria-label="niche">
                    </div>
                    <div class="col">
                        <input name="reach" type="number" class="form-control" placeholder="Reach" aria-label="reach">
                    </div>
                </div>
                <div class="custom-mb">
                    <label for="email" class="form-label"></label>
                    <input name="email" type="email" class="form-control" id="influenceremail" placeholder="Influencer Email">
                </div>
                <div class="custom-mb">
                    <label for="password" class="form-label"></label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="custom-mb">
                    <label for="confirmpassword" class="form-label"></label>
                    <input name="confirmpassword" type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password">
                </div>
                <div class="button">
                    <button class="button-4" type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
