{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
  <div id="main">
    <div class="main-1">
      <form action="#" method="POST">
        <div>
          <label for="identifier" class="form-label inter" >Username or Email:</label>
          <input type="text" class="form-control form-text" id="identifier" name="identifier" required>
      </div>
        <div class="mb-6">
          <label for="password " class="form-label inter">Password</label>
          <input name="password" type="password" class="form-control" id="password">
        </div>
        <div>
          <label for="role " class="form-label inter">Role</label>
          <select class="form-select" aria-label="Default select example" id="role" name="role">
            <option value="admin" selected>admin</option>
            <option value="sponsor">sponsor</option>
            <option value="influencer">influencer</option>
          </select>
        </div>
        <div class="mb-6 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label inter" for="exampleCheck1">Remeber me</label>
        </div>
        <div>
          <button style="width: 150px;
                margin-bottom: 7px; font-size:larger" type="submit" class="btn btn-primary inter">Login</button>
          <p class="inter register-link ">No account yet? <a href="{{url_for('register', role='admin')}}" class="register-btn" >Register</a></p>
        </div>
        <div class="icons">
          <a href="https://www.google.com/">
            <i class="fa-brands fa-google"></i>
          </a>
          <a href="https://www.meta.com/">
            <i class="fa-brands fa-meta"></i>
          </a>
          <a href="https://x.com/">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}




