{% extends 'base.html' %}

{% block title %}
View Influencer
{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/view_influencer.css">
{% endblock %}

{% block content %}
<div class="container1">
    <header>
        <button class="btn1 btn-back1" onclick="window.history.back()">Back</button>
        <h1>Influencer Profile</h1>
    </header>
    
    <div class="profile-card1">
        <div class="profile-header1">
            <div class="profile-photo1">
                <img src="{{ influencer.photo_url }}" alt="Profile Photo" class="photo">
            </div>
        </div>
        <div class="profile-body1">
            <h2 class="profile-name1">{{ influencer.influencer_name }}</h2>
            <p><strong>Category:</strong> {{ influencer.category }}</p>
            <p><strong>Age:</strong> {{ influencer.age }}</p>
            <p><strong>Reach:</strong> {{ influencer.reach }}</p>
            <p><strong>Niche:</strong> {{ influencer.niche }}</p>
        </div>
    </div>
</div>
{% endblock %}
